html,body {
  height: 100%;
  margin: 0;
}

#base_container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 37px 0 20px;
}

#header_container {
  position: absolute;
  left: 0;
  top: 0;
  height: 36px;
  width: 100%;
  border-bottom: 1px solid DarkGray;
  background-color: #404040;
}

#main_container {
  box-sizing: border-box;
  height: 100%;
}

#side_container {
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  float: left;
  overflow: scroll;
}

#editor_container {
  box-sizing: border-box;
  height: 100%;
  margin-left:250px;
  border-left: 1px solid DarkGray;
}

#editor_text {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 18px;
  border: 0px;
  resize: none;
  color: WhiteSmoke;
  background-color: #222222;
}

#footer_container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2px 4px;
  height: 20px;
  background-color: #404040;
  color: WhiteSmoke;
  font-size: 12px;
}

.float_right {
  float: right;
}
